In [1]:
import pandas as pd
import numpy as np
import os
from cassandra.cluster import Cluster
from datetime import datetime
import plotly.graph_objects as go
import settrade_v2
from settrade_v2 import Investor
import time

In [2]:
cluster = Cluster(['127.0.0.1']) 
session = cluster.connect()

In [3]:
session.set_keyspace('data_stock')

In [4]:
rows = session.execute("""
    SELECT * FROM candlestick_data WHERE symbol = '24CS' ALLOW FILTERING;
""")

In [5]:
df = pd.DataFrame(rows, columns=[
    'symbol', 'time', 'open_price', 'high_price', 'low_price', 'close_price', 'volume', 'value'
])

# ✅ แปลงชนิดเวลา + เรียงลำดับ
df['time'] = pd.to_datetime(df['time'])
df = df.sort_values('time').reset_index(drop=True)

In [6]:
df.head()

,symbol,time,open_price,high_price,low_price,close_price,volume,value
0,24CS,2022-10-03,10.20,10.20,7.10,7.10,4.974980e+09,559474246
1,24CS,2022-10-04,7.15,11.10,7.15,10.70,2.767886e+09,330716796
2,24CS,2022-10-05,5.15,6.45,5.05,5.85,1.985455e+09,361105489
3,24CS,2022-10-06,5.20,5.45,4.70,5.40,1.161524e+09,232684182
4,24CS,2022-10-07,5.00,5.15,4.76,5.10,6.561827e+08,131780847