In [23]:
import requests
import pandas as pd

# URL from SETTRADE: CSV with all listed companies
url = "https://www.set.or.th/dat/eod/listedcompany/static/listedCompanies_th_TH.xls"

# Download the Excel file
response = requests.get(url)
with open("listedCompanies.xlsx", "wb") as f:
    f.write(response.content)

after get file
coppy just หลักศัพท์ column

In [26]:
df=pd.read_excel("stocth_names.xlsx")

In [27]:
df.head(10)

  หลักทรัพย์
0       24CS
1         2S
2      3BBIF
3          A
4         A5
5        AAI
6        AAV
7        ABM
8       ACAP
9        ACC